{% extends "franchise/layout.html" %}                   <!--base.html을 상속받는다고 선언-->
{% block title %}프랜차이즈{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "franchise.css" %}{% endblock %}
{% block content %}

{{ block.super }}

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>




<div style="height:30px;"></div>
<div class="fran_list">
  <div class="fran_list_1line">
			<a class="fran_a" href="{% url 'franchise:juicy' %}"><img src="/static/img/쥬씨.png" alt="쥬씨"></a>
			<a class="fran_a" href="{% url 'franchise:gongcha' %}"><img src="/static/img/공차.png"></a>
			<a class="fran_a" href="{% url 'franchise:subway' %}"><img src="/static/img/서브웨이.png"></a>
			<a class="fran_a" href="{% url 'franchise:starbucks' %}"><img src="/static/img/스타벅스.png"></a>
			<a class="fran_a" href="{% url 'franchise:momstouch' %}"><img src="/static/img/맘스터치.png"></a>
  </div>
  <br><br><br>
  <div class="fran_list_2line">
      <a class="fran_a" href="{% url 'franchise:ediya' %}"><img src="/static/img/이디야.png"></a>
      <a class="fran_a" href="{% url 'franchise:sinjeon' %}"><img src="/static/img/신전.png"></a>
      <a class="fran_a" href="{% url 'franchise:caffebene' %}"><img src="/static/img/카페베네.png"></a>
      <a class="fran_a" href="{% url 'franchise:mrsd' %}"><img src="/static/img/명랑핫도그.png"></a>
      <a class="fran_a" href="{% url 'franchise:momstouch' %}"><img src="/static/img/탐탐.png"></a>
  </div>

</div>
<br><br><br><br>
{% endblock %}
