{% extends "../base.html" %}                   <!--base.html을 상속받는다고 선언-->
{% block title %}{{ notice.title }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "franchise.css" %}{% endblock %}
{% block content %}
<script>
                $(window).on("scroll", function() {
                    if ($(window).scrollTop() > 300) {
                        $("#mainNav").css("background-color","#ffffff").css("box-shadow", "0 0 14px rgba(0,0,0,.4)");
                        $("#mainNav .navbar-brand").css("color", "#fe9d2c");
                        $(".navbar-nav .nav-item .nav-link").css("color","#000000");
                    }else {
                  $("#mainNav").css("background-color","transparent").css("box-shadow", "none");
                  $(".navbar-nav .nav-item .nav-link").css("color","#ffffff");
                  $("#mainNav .navbar-brand").css("color", "#ffffff");

                    }
                });
</script>
   <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
     <!-- highcharts CDN -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/treemap.js"></script>

    {% load chartit %}
    {{ chart_list|load_charts:"cht"}}


<div style="height:400px; width:100%; background-image: url({% static 'img/카페.jpg' %});">

  <h1 class="menu_name">프랜차이즈</h1>
</div>
<br><br>
  <div style="text-align: center;"><h5>카페베네</h5></div>
<br><br>
    <div id='cht' style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">  </div>


{% endblock %}