{% extends "forSale/layout.html" %}                   <!--base.html을 상속받는다고 선언-->
{% block title %}{{ notice.title }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "forSale.css" %}{% endblock %}


{% load humanize %}

{% block content %}
    {{ block.super }}

{## 매물 정보#}
<br><h5>매물 정보</h5>
    <section style="height:1000px;">
        <article>
          <table class="sang_info">
            <tr>
              <td class="aa">소재지</td>
              <td>{{ item.location }}</td>
              <td class="aa">상가명</td>
              <td>{{ item.name }}</td>
            </tr>
            <tr>
              <td class="aa">면적</td>
              <td>{{ item.area }}</td>
              <td class="aa">현업종</td>
              <td>{{ item.sector }}</td>
            </tr>
            <tr>
              <td class="aa">해당층</td>
              <td>{{ item.floor }}</td>
              <td class="aa">부동산 전화번호</td>
              <td>{{ item.tel }}</td>
            </tr>
            <tr>
              <td class="aa">옵션</td>
              <td colspan="3">{{ item.option|linebreaksbr }}</td>
            </tr>
            <tr>
              <td class="aa">매물특징</td>
              <td colspan="3">{{ item.desc|linebreaksbr }}</td>
            </tr>
            <tr>
              <td class="aa">예상비용</td>
              <td colspan="3">{{ item.price }}</td>
            </tr>
            </table>
        </article>
{#    <hr class="my-hr4">#}
<br><h5>매물 사진</h5>
  <div class="sang_content">
        <article itemprop="articleBody"><!--BeforeDocument(1102807111,0)-->

        <div style="margin-left:200px; margin-right: 200px; background-color: #f0f3f5">
            {% if item.photo %}
                <img src="{{ item.photo.url }}" style="max-width:800px; height:500px;">
            {% endif %}
        </div>
        <br><br><br><br>


        <div class="control hidden">
            {% if request.user.is_superuser %}
                <button type="submit" class="">
                    <a href="{% url 'forSale:item_remove' item.pk %}" >매물정보 삭제</a>
                </button>
                <div class="control hidden">
                <button type="submit" class="">
                    <a href="{% url 'forSale:item_edit' item.pk %}" >매물정보 수정</a>
                </button>
            {% endif %}
        </div>
        </article>
  </div>


  </section>
  <br><br>

{% endblock content %}