{% extends "forSale/layout.html" %}                   <!--base.html을 상속받는다고 선언-->
{% block title %}{{ notice.title }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "forSale.css" %}{% endblock %}


{% load humanize %}

{% block content %}
    {{ block.super }}
    <style>
      .customoverlay {position:relative;bottom:85px;border-radius:6px;border: 1px solid #ccc;border-bottom:2px solid #ddd;float:left;}
      .customoverlay:nth-of-type(n) {border:0; box-shadow:0px 1px 2px #888;}
      .customoverlay a {display:block;text-decoration:none;color:#000;text-align:center;border-radius:6px;font-size:14px;font-weight:bold;overflow:hidden;background: #d95050;background: #d95050 url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;}
      .customoverlay .title {display:block;text-align:center;background:#fff;margin-right:35px;padding:10px 15px;font-size:14px;font-weight:bold;}
      .customoverlay:after {content:'';position:absolute;margin-left:-12px;left:50%;bottom:-12px;width:22px;height:12px;background:url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    </style>
{## 매물 정보#}

    <section class="sang_infoSection" style="height:1000px;">
    <br><h5>매물 정보</h5>
        <article>
          <table class="sang_info">
            <tr>
              <td class="aa">소재지</td>
              <td>{{ item.location }}</td>
              <td class="aa">상가명</td>
              <td>{{ item.name }}</td>
            </tr>
            <tr>
              <td class="aa">면적</td>
              <td>{{ item.area }}</td>
              <td class="aa">현업종</td>
              <td>{{ item.sector }}</td>
            </tr>
            <tr>
              <td class="aa">해당층</td>
              <td>{{ item.floor }}</td>
              <td class="aa">부동산 전화번호</td>
              <td>{{ item.tel }}</td>
            </tr>
            <tr>
              <td class="aa">옵션</td>
              <td colspan="3">{{ item.option|linebreaksbr }}</td>
            </tr>
            <tr>
              <td class="aa">매물특징</td>
              <td colspan="3">{{ item.desc|linebreaksbr }}</td>
            </tr>
            <tr>
              <td class="aa">예상비용</td>
              <td colspan="3">{{ item.price }}</td>
            </tr>
            </table>
        </article>
      <br>
{#    <hr class="my-hr4">#}
<br><h5>매물 사진</h5>

  <div class="sang_content">
        <article itemprop="articleBody"><!--BeforeDocument(1102807111,0)-->

        <div style=" background-color: #f0f3f5">
            {% if item.photo %}
                <img src="{{ item.photo.url }}" style="max-width:800px; height:500px;">
            {% endif %}
        </div>
        </article>
  </div>
      <br>
<br><h5>매물 위치</h5>
 <div class="sang_content">
  <div id="map" style="margin: 0 auto; height:400px;"></div>

<br><br>

    <div class="btnking">
            {% if request.user.is_superuser %}
          <button type="submit" class="submitbtn ">
              <a href="{% url 'forSale:item_remove' item.pk %}" >삭제</a>
          </button>
           <button type="submit" class="submitbtn">
                <a href="{% url 'forSale:item_edit' item.pk %}" >수정</a>
           </button>
            {% endif %}
  </div>
  </section>
   <div style="height:400px;"></div>

  <br><br>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f460952f0d62b1ca6bd68a4534bb4978&libraries=services"></script>
<script>
      {#var mapContainer = document.getElementById('map'), // 지도를 표시할 div#}
      {#    mapOption = {#}
      {#        center: new kakao.maps.LatLng({{ item.lat }}, {{ item.lng }}), // 지도의 중심좌표#}
      {#        level: 3 // 지도의 확대 레벨#}
      {#    };#}
      {##}
      {#var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다#}
      {##}
      {#// 마커가 표시될 위치입니다#}
      {#var markerPosition  = new kakao.maps.LatLng({{ item.lat }}, {{ item.lng }});#}
      {##}
      {#// 마커를 생성합니다#}
      {#var marker = new kakao.maps.Marker({#}
      {#    position: markerPosition      });#}
      {##}
      {#// 마커가 지도 위에 표시되도록 설정합니다#}
      {#marker.setMap(map);#}


</script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    // 주소로 좌표를 검색합니다
    geocoder.addressSearch('{{ item.location }} ', function(result, status) {

        // 정상적으로 검색이 완료됐으면
         if (status === kakao.maps.services.Status.OK) {

            var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

            var imageSrc = '{% static 'marker_red.png' %}', // 마커이미지의 주소입니다
                imageSize = new kakao.maps.Size(64, 69), // 마커이미지의 크기입니다
                imageOption = {offset: new kakao.maps.Point(27, 69)}; // 마커이미지의 옵션입니다. 마커의 좌표와 일치시킬 이미지 안에서의 좌표를 설정합니다.

            // 마커의 이미지정보를 가지고 있는 마커이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imageOption),
                markerPosition = new kakao.maps.LatLng(result[0].y, result[0].x); // 마커가 표시될 위치입니다

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
              map: map,
              position: markerPosition,
              image: markerImage // 마커이미지 설정
            });


            // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
            map.setCenter(coords);

            // 커스텀 오버레이에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            var content = '<div class="customoverlay">' +
                '  <a href="" target="_blank">' +
                '    <span class="title">{{ item.name }}</span>' +
                '  </a>' +
                '</div>';

            // 커스텀 오버레이가 표시될 위치입니다
            var position = new kakao.maps.LatLng(result[0].y, result[0].x);

            // 커스텀 오버레이를 생성합니다
            var customOverlay = new kakao.maps.CustomOverlay({
                map: map,
                position: position,
                content: content,
                yAnchor: 1
            });
        }
    });
</script>

{% endblock content %}