{% extends "base.html" %}                   <!--base.html을 상속받는다고 선언-->

{% block title %}{% endblock %}    <!--title 블록 재정의-->

<!--정적 파일인 css 연결하기 위하여, staticfiles를 로드-->
{% load staticfiles %}
<!--extrastyle 블록을 재정의하여 추가적으로 home.css 연결-->
{% block extrastyle %}{% static "home.css" %}{% endblock %}

{% block content %}

{% load staticfiles %}
  <style>

  </style>
  <script>
	$(window).on("scroll", function() {
		if ($(window).scrollTop() > 300) {
			$("#mainNav").css("background-color","#ffffff").css("box-shadow", "0 0 14px rgba(0,0,0,.4)");
			$(".navbar-nav .nav-item .nav-link").css("color","#000000");
		}else {
      $("#mainNav").css("background-color","transparent").css("box-shadow", "none");
      $(".navbar-nav .nav-item .nav-link").css("color","#ffffff");
		}
	});
</script>

<div style="height:400px; width:100%; background-image: url({% static 'img/업종추천.jpg' %});">
  <h1 class="menu_name">업종추천</h1>
</div>
  <div style="height:70px;"></div>

{{ chu.dong_title }} {{ chu.classification }}
  <p>{{ chu.mcScore }}</p>

{% endblock %}