{% extends "notice/layout.html" %}                   <!--base.html을 상속받는다고 선언-->
{% block title %}{{ notice.title }}{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "notice.css" %}{% endblock %}

{% block content %}
{{ block.super }}


<section class="board_content">
  <table id="notice_list" class="table table-striped responsive display nowrap">
    <thead>
      <tr>
        <th class="priority-1">번호</th>
        <th class="priority-2">제목</th>
        <th class="priority-3">작성자</th>
        <th class="priority-4">날짜</th>
        <th class="priority-5">조회수</th>
      </tr>
    </thead>
    <tbody>
    {% for notice in notice_list %}
      <tr>
        <td class="priority-1">{{ notice.id }}</td>
        <td class="priority-2"><a style="text-decoration: none;" href="{{ notice.get_absolute_url }}">{{ notice.title }}</a></td>
        <td class="priority-3">{{ notice.author }}</td>
        <td class="priority-4">{{ notice.created_at|date:"Y-m-d" }}</td>
        <td class="priority-5">{{ notice.hit }}</td>
{#        <td></td>#}
      </tr>
    {% endfor %}

    </tbody>
  </table>
 {% if request.user.is_superuser %}
    <button type="submit" style="float: right;" >
        <a href="{% url 'notice:notice_new' %}" style="color:#000000">글쓰기</a>
    </button>
  {% endif %}
</section>

<br><br><br><br>





{% endblock %}
