{#{% extends "base.html" %}                   <!--base.html을 상속받는다고 선언-->#}
{##}
{#{% block title %}{% endblock %}    <!--title 블록 재정의-->#}
{##}
{#<!--정적 파일인 css 연결하기 위하여, staticfiles를 로드-->#}
{#{% load staticfiles %}#}
{#<!--extrastyle 블록을 재정의하여 추가적으로 home.css 연결-->#}
{#{% block extrastyle %}{% static "home.css" %}{% endblock %}#}
{##}
{#{% block content %}#}
{##}
{#{% load staticfiles %}#}
{##}
{#  <script>#}
{#	$(window).on("scroll", function() {#}
{#		if ($(window).scrollTop() > 300) {#}
{#			$("#mainNav").css("background-color","#ffffff").css("box-shadow", "0 0 14px rgba(0,0,0,.4)");#}
{#			$(".navbar-nav .nav-item .nav-link").css("color","#000000");#}
{#		}else {#}
{#      $("#mainNav").css("background-color","transparent").css("box-shadow", "none");#}
{#      $(".navbar-nav .nav-item .nav-link").css("color","#ffffff");#}
{#		}#}
{#	});#}
{#</script>#}
{##}
{#<div style="height:400px; width:100%; background-image: url({% static 'img/상권분석.jpg' %});">#}
{#  <h1 class="menu_name">상권분석</h1>#}
{#</div>#}
{#  <div style="height:100px;"></div>#}
{##}
{#<iframe width="100%" height="720" frameborder="0" src="https://pyeonzzang123.carto.com/builder/b9838d40-874e-484b-aed7-8d4ff10767c1/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>#}
{#<iframe width="100%" height="520" frameborder="0" src="https://doro16.carto.com/builder/d7cac836-7dc7-4b5a-bb23-dca643745dff/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>#}
{##}
{#  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>#}
{#<script src="https://code.highcharts.com/highcharts.js"></script>#}
{#<script src="https://code.highcharts.com/modules/exporting.js"></script>#}
{#<script src="https://code.highcharts.com/modules/export-data.js"></script>#}
{##}
{#  <br><br><br>#}
{##}
{#  <h5 style="margin-left: 30px;">연령별 인구 구성</h5>#}
{#  <br>#}
{#  <div id="container" style="min-width: 310px; height: 400px; max-width: 600px;"></div>#}
{##}
{#<script>#}
{#  // Build the chart#}
{#Highcharts.chart('container', {#}
{#  chart: {#}
{#    plotBackgroundColor: null,#}
{#    plotBorderWidth: null,#}
{#    plotShadow: false,#}
{#    type: 'pie'#}
{#  },#}
{#  title: {#}
{#       verticalAlign: 'middle',#}
{#      floating: true,#}
{#      text: ' '#}
{#  },#}
{##}
{#  tooltip: {#}
{#    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'#}
{#  },#}
{#  plotOptions: {#}
{#    pie: {#}
      {#allowPointSelect: true,#}
      {#cursor: 'pointer',#}
{#        innerSize: '60%',#}
{#      dataLabels: {#}
{#        enabled: false#}
{#      },#}
{#      showInLegend: true#}
{#    }#}
{#  },#}
{#  series: [{#}
{#    name: 'Brands',#}
{#    colorByPoint: true,#}
{#    data: [{#}
{#      name: '0~9세',#}
{#      y: 4#}
{#    }, {#}
{#      name: '10~19세',#}
{#      y: 7#}
{#    }, {#}
{#      name: '20~29세',#}
{#      y: 14.5#}
{#    }, {#}
{#      name: '30~39세',#}
{#      y: 15.6#}
{#    }, {#}
{#      name: '40~49세',#}
{#      y: 15.9#}
{#    }, {#}
{#      name: '50~59세',#}
{#      y: 17#}
{#    }, {#}
{#      name: '60세 이상',#}
{#      y: 23.7#}
{#    }]#}
{#  }]#}
{#});#}
{#</script>#}
{##}
{##}
{#{% endblock %}#}