{% extends "home_base.html" %}                   <!--base.html을 상속받는다고 선언-->

{% block title %}{% endblock %}    <!--title 블록 재정의-->

<!--정적 파일인 css 연결하기 위하여, staticfiles를 로드-->
{% load staticfiles %}
<!--extrastyle 블록을 재정의하여 추가적으로 home.css 연결-->
{% block extrastyle %}{% static "home.css" %}{% endblock %}

{% block content %}
    <link href="{% static 'common/common.css' %}" rel="stylesheet">
      <!-- JavaScript files-->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>



    <style>
    #topcircle{
      margin-top:70px;
    }
    #circle1 {
      background-color:#ffffff;
      opacity: 0.8;
      width:155px;
      height:155px;
      border-radius:75px;
      text-align:center;
      margin:0 35px 0 0;
      font-size:12px;
      vertical-align:middle;
      line-height:150px;
      display: inline-block;
      }
    #toptext{

    }
    #text1 {
      color: #ffffff;
      width:155px;
      height:155px;
      text-align:center;
      padding-top:10px;
      margin:0 35px 0 0;
      font-size:15px;
      vertical-align:middle;
      display: inline-block;
      }
    </style>

<body>


<div id="fullpage">
	<div class="section" id="section0">
        <div class="main1_bgbg" ></div>
		<video id="myVideo" loop muted data-autoplay>
			<source src="{% static 'img/gangnam2.mp4' %}" type="video/mp4">
		</video>
        <h1 style="z-index: 10; font-size: 70px; font-family: '나눔고딕';">피플인<br> 상권 분석 시스템<br><br></h1>
	</div><!-- /.section0끝 -->
	<div class="section" id="section1">
			<div class="intro">
				<h1 style="color:white;">NEW</h1>
				<p>아직 못본 더 많은 상가가 있어요.</p>
			</div>
        <br>

    <section>
  <div class="container">
    <h2>forSale</h2>
    <p class="lead text-muted mb-5"></p>
    <div class="row">
    {% for item in item_list %}
      <div class="col-md-4 mb-4">
        <div class="card shadow border-0 h-100"><a href="{{ item.get_absolute_url }}"><img src="{{ item.photo.url }}" alt="" class="card-img-top"></a>
          <div class="card-body">
            <h5><a class="text-dark" href="{{ item.get_absolute_url }}">{{ item.name }} </a></h5>
             <p style="font-size:1em;">{{ item.price }}</p>

          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

	</div><!-- /.section1끝 -->
	<div class="section section2" id="section2">
		<div class="inner">
			<h2 class="sTit ">투자 전 확인하세요!</h2><br>
				<em>투자는 철저한 사전조사와 계획이 필요합니다.<br>피플IN에서 알려드립니다!</em>
			<div class="investCheck d-flex justify-content-center">
				<a class="menu1" title="기업철학 페이지 이동" href="{% url 'chu:chu_list' %}">
					<strong>찜닭집,<br>믿고 차릴 만한 곳은 어딜까? <span>지역 추천</span></strong>
					<img src="/static/img/invest1.png" alt="">
				</a>
				<a class="menu2" title="위험관리체계 페이지 이동" href="{% url 'chu:chu_list' %}">
					<strong>혜화역 1번 출구,<br>경양식 집 얼마나 있을까? <span>업종 추천</span></strong>
					<img src="/static/img/invest2.png" alt="">
				</a>
			</div>
		</div>
	</div><!-- /.section2끝 -->
	<div class="section" id="section3">
		<div class="intro">
			<h1 style="color:white;">FRANCHISE</h1>
			<p>프렌차이즈 별 데이터 정보를 살펴보세요</p>
		</div>
    <br>
		<div class="list_wrap">
      <ul>
        <li class="list"><img src="/static/img/franlogo1.png" alt="쥬씨"></li>
        <li class="list"><img src="/static/img/franlogo3.png"></li>
        <li class="list"><img src="/static/img/franlogo5.png"></li>
        <li class="list"><img src="/static/img/franlogo2.png"></li>
        <li class="list"><img src="/static/img/franlogo7.png"></li>
        <li class="list"><img src="/static/img/franlogo2.png"></li>
        <li class="list"><img src="/static/img/franlogo18.png"></li>
        <li class="list"><img src="/static/img/franlogo19.png"></li>


      </ul>
		</div>
{#    <div id="topcircle">#}
{#      <div id="circle1"><a href="{% url 'franchise:franchise_list' %}"><img src="{% static 'image/franchise.png' %}" style="width:80px; margin: 0 auto;" alt=""></a></div>#}
{#      <div id="circle1"><a href="{% url 'franchise:franchise_list' %}"><img src="{% static 'image/money.png' %}" style="width:80px; margin: 0 auto;" alt=""></a></div>#}
{#      <div id="circle1"><a href="{% url 'franchise:franchise_list' %}"><img src="{% static 'image/bars.png' %}" style="width:80px; margin: 0 auto;" alt=""></a></div>#}
{#    </div>#}
{#    <div id="toptext">#}
{#    <div id="text1"><h4 style="color:#ffffff">프랜차이즈 점포수추이</h4><br><p></p></div>#}
{#    <div id="text1"><h4 style="color:#ffffff">프랜차이즈별 월매출</h4><br><p></p></div>#}
{#    <div id="text1"><h4 style="color:#ffffff">프랜차이즈 시장점유율</h4><br><p></p></div>#}
{#    </div>#}

    </div><!-- /.section3끝 -->
<div class="section fp-auto-height section_footer"><div id="footer">
   <div class="footer_inner">
      <div class="footerBtn">
         <a href="">개인정보취급방침</a>
      </div>
      <div class="footerCont">
         <ul>
            <li class="w100p">㈜피플인 대표 : 윤혜주</li>
            <li>주소 : 서울특별시 성동구 살곶이길 200</li>
            <li>TEL. 02-2290-2114</li>
         </ul>
      </div>
      <p class="copy">Copyright © 2019 PeopleIn All rights reserved.</p>
   </div>
</div></div>

</div><!--fullpage 끝-->

<script type="text/javascript" src="{% static 'js/fullpage.js' %}"></script>
<script type="text/javascript" src="{% static 'js/example.js' %}"></script>

<script type="text/javascript">
    var myFullpage = new fullpage('#fullpage', {
        verticalCentered: false,
		sectionsColor: ['#1bbc9b', '#7BAABE', '#eeeeee' ],
        //to avoid problems with css3 transforms and fixed elements in Chrome, as detailed here: https://github.com/alvarotrigo/fullPage.js/issues/208
        css3:false
    });
</script>

{% endblock %}



{% block footer %}

<div class="footer2">

</div>

{% endblock footer %}

      <!-- JavaScript files-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
</body>